name: Build and Deploy to Netlify

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-netlify.outputs.webapp-url }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install and build
        run: |
          npm ci
          npm run build

      - name: Deploy to Netlify
        id: deploy-to-netlify
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: |
          npm install -g netlify-cli
          npx netlify deploy --prod --dir=dist --site=${{ secrets.NETLIFY_SITE_ID }} --json > netlify-deploy.json
          URL=$(jq -r '.url' netlify-deploy.json)
          echo "webapp-url=$URL" >> $GITHUB_OUTPUT